
.enterbutton {
  background-color:#e7ded7;
	font-style:italic;
	text-decoration:none;
	font-family:Arial Black;
	box-shadow:#462664 7px 3px 0px;
	o-box-shadow:#462664 7px 3px 0px;
	-moz-box-shadow:#462664 7px 3px 0px;
	-webkit-box-shadow:#462664 7px 3px 0px;
	text-indent:0px;
	line-height:40px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:22px;
	color:#222546;
	width:100px;
	height:40px;
	padding:0px;
	border-color:#c7adb6;
	border-width:0px;
	border-style:solid;
}

.enterbutton:hover {
background-color:#ccc4be;
	box-shadow:#462664 7px 0 0px;
	o-box-shadow:#462664 7px 0 0px;
	-moz-box-shadow:#462664 7px 0 0px;
	-webkit-box-shadow:#462664 7px 0 0px;
	position:relative;
	top:3px
}